.slide-styles-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-size: 20px;
  line-height: 1.2em;
  font-family: 'Public Sans', Verdana, Geneva, sans-serif;
}

.module-name {
  font-size: 14px;
  font-style: italic;
  color: #333;
}

.module-container {
  margin-top: 35px;
  flex: 1;
  position: relative;
}

.vertical-paragraph-spacer {
  height: 20px;
}

.monospaced {
  font-family: monospace;
  background-color: rgba(27, 31, 35, 0.1);
}

.strikethrough {
  text-decoration: line-through;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
}

li {
  margin-bottom: 15px;
}

li.emoji-list-item-owl {
  list-style-type: '🦉  ';
}

li.emoji-list-item-person {
  list-style-type: '🧑  ';
}

.inline-editor-box {
  border: 1px solid black;
  padding: 10px;
}

.right-image-container {
  float: right;
  display: flex;
  flex-direction: column;
}
.right-image-container > img {
  margin: 5px;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
}
