.slide-styles-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  font-size: 20px;
  line-height: 1.2em;
  font-family: 'Public Sans', Verdana, Geneva, sans-serif;
}

.module-name {
  font-size: 14px;
  font-style: italic;
  color: #333;
}

.module-container {
  margin-top: 20px;
  flex: 1;
  position: relative;
}
